@import '../main.scss';

.Post-Container{
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: $default-padding;
}

.Post-Detail {
    flex-grow: 2;
}

.Button-Pop {
    color: white;
    border-radius: 4px;
    background: $primary-blue;
    border: none;
    height: 20px;
}